# https://docs.docker.com/build/ci/github-actions/multi-platform/#distribute-build-across-multiple-runners
name: Docker
on:
  # Build every Mon/Thurs to keep the cache fresh (cache expires after 7 days)
  # https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#usage-limits-and-eviction-policy
  schedule:
  - cron: "0 0 * * 1,4"
  workflow_dispatch:
    inputs:
      remote:
        description: Remote repository
        required: true
        default: https://gitlab.com/walfie/firefish.git
      branch:
        description: Branch to release
        required: true
        default: walfie
      prerelease_id:
        description: Pre-release identifier
        required: true
        default: walfie

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/firefish

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform:
        #- linux/amd64
        - linux/arm64
    outputs:
      tag: ${{ steps.get_version.outputs.TAG }}
      revision: ${{ steps.get_version.outputs.REVISION }}
      revisionFull: ${{ steps.get_version.outputs.REVISION_FULL }}
    steps:
    - name: Checkout
      run: |
        git clone --depth=1 ${{ inputs.remote }} .
        git checkout ${{ inputs.branch }}
    - name: Get version
      id: get_version
      run: |
        REVISION="$(git rev-parse --short HEAD)"
        REVISION_FULL="$(git rev-parse HEAD)"
        BASE_VERSION="$(jq -r .version <package.json | cut -d- -f1)"
        TAG="v$BASE_VERSION-${{ inputs.prerelease_id }}+$REVISION"

        echo "Releasing tag '$TAG'"
        echo "REVISION=$REVISION" >>$GITHUB_OUTPUT
        echo "REVISION_FULL=$REVISION_FULL" >>$GITHUB_OUTPUT
        echo "TAG=$TAG" >>$GITHUB_OUTPUT
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: ${{ env.IMAGE_NAME }}
        labels: |
          org.opencontainers.image.revision=${{ steps.get_version.outputs.REVISION_FULL }}
          org.opencontainers.image.source=${{ inputs.remote }}
          org.opencontainers.image.url=${{ inputs.remote }}
        tags: |
          type=raw,value=${{ steps.get_version.outputs.TAG }}
          type=raw,value=latest
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Log in to container registry
      uses: docker/login-action@v2
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push by digest
      id: build
      uses: docker/build-push-action@v4
      with:
        context: .
        cache-from: type=gha
        cache-to: type=gha,mode=max
        platforms: ${{ matrix.platform }}
        labels: ${{ steps.meta.outputs.labels }}
        outputs: type=image,name=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }},push-by-digest=true,name-canonical=true,push=true
    - name: Export digest
      run: |
        mkdir -p /tmp/digests
        digest="${{ steps.build.outputs.digest }}"
        touch "/tmp/digests/${digest#sha256:}"
    - name: Upload digest
      uses: actions/upload-artifact@v3
      with:
        name: digests
        path: /tmp/digests/*
        if-no-files-found: error
        retention-days: 1

  push:
    runs-on: ubuntu-latest
    needs:
    - build
    steps:
    - name: Download digests
      uses: actions/download-artifact@v3
      with:
        name: digests
        path: /tmp/digests
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        labels: |
          org.opencontainers.image.revision=${{ needs.build.outputs.revisionFull }}
          org.opencontainers.image.source=${{ inputs.remote }}
          org.opencontainers.image.url=${{ inputs.remote }}
        tags: |
          type=raw,value=${{ needs.build.outputs.tag }}
          type=raw,value=latest
    - name: Log in to container registry
      uses: docker/login-action@v2
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Create manifest list and push
      working-directory: /tmp/digests
      run: |
        docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
          $(printf '${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@sha256:%s ' *)
    - name: Inspect image
      run: |
        docker buildx imagetools inspect ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.meta.outputs.version }}
